
body {
  background-color: #F5F5F5 !important;
  overflow: hidden;
}


.App {
  text-align: center;
}

.App .layout_header {
  height: 55px;
  padding: 0px;
  background:#4d4d4d;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  /* background: url(./assets/imgs/Banner.png) no-repeat center center; */
}

.logo {
  width:100px;
  background-color:#1b1b1b;
  margin-left:15px;
  background: url(./assets/imgs/logo.png) no-repeat 0px center;
  background-size: 33.99px 33.99px;
  /* background: url(./assets/imgs/logo.png) no-repeat center center; */
  text-indent: 25px;
  color:white;
  line-height: 55px;
}

.checkUpdate {
  display:none;
}



.App  .optionWindow {
  width:100%;
  height:30px;
  /* background: red; */
  position: absolute;
  text-align:right;
  z-index: 100000;
}

.App .layout_header  .closeWindows {
  /* position: absolute; */
  right:0px;
  width:33px;
  height:33px;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-right: 15px;
  padding-top: 15px;
  z-index: 1000;
  -webkit-app-region: no-drag;
  display: flex;
  

}

.App .layout_header  .closeWindows i{
  /* position: absolute; */
  right:0px;
  top:5px;
  width:33px;
  height:33px;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding-right: 15px;
  padding-top: 5px;
  z-index: 1000;
  -webkit-app-region: no-drag;
}

.ant-modal-wrap {
  -webkit-app-region:no-drag;
}

/* 

.App .layout_header .checkUpdate {
  position: absolute;
  right: 32px;
  top:21px;
  color: white;
  font-family: "PingFangSC-Medium";
  font-size: 16px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}


.App .layout_header .checkUpdate .checkTxing {
  width:9px;
  height:9px;
  border-radius: 50%;
  background: #FF3333;
  position: absolute;
  z-index: 1;
  border:1px solid white;
  top:22px;
  right:-5px;
}

.App .layout_content {
  background-color: #f5f5f5;
  padding: 0 64px;
}



.App .layout_content .ant-card {
  background-color: #f5f5f5;
}

.App .layout_content .ant-card-bordered {
  border:1px solid #f5f5f5;
}

.App .layout_content .ant-card .ant-card-head {
  padding:0px;
  border-bottom: 1px solid #e5e5e5;
}

.App .layout_content .ant-card .ant-card-head .ant-card-head-title {
  font-size:20px;
}

.App .layout_content .ant-card .ant-card-body {
  padding:32px 0px 32px 0px;
} */


.App .layout_content .ant-card .ant-card-body .App-list {
  

}

/* .App .layout_content .ant-card .ant-card-body  .App-list .ant-list-item {
  margin-bottom:32px;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card {
  background:#fff;
}


.App .layout_content .ant-card .ant-card-body  .App-list .ant-list-empty-text {
  margin-top:80px;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card .ant-card-head {
  border:1px solid #fff;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card .ant-card-head .smallCardEdit {
  color:#666;
  margin-right:24px !important;
  font-size:14px;
  cursor: pointer;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card .ant-card-head .smallCardClose {
  color:#666;
  font-size:14px;
  margin-right:20px !important;
  cursor: pointer;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card .ant-card-cover .ant-avatar {
  margin:0 auto !important;
  cursor: pointer;
}

.App .layout_content .ant-card .ant-card-body  .App-list .ant-card .ant-card-meta-description {
  word-break: break-all;
  padding: 20px;
}


.App .layout_content .addressBtn {
  background: #FF3333;
  border-color: #FF3333;
  width:128px;
  height:40px;
  border-radius: 4px;

}
.App .layout_content .removeAllAddress {
  width:128px;
  height:40px;
  background:white;
  border-color: #e5e5e5;
  color:#666;
} */

.App .layout_footer {
  background-color: #1b1b1b;
  width:800px;
  height:32px;
  padding:0px;
  position: fixed;
  bottom:0px;
  line-height:32px;
  text-align: center;
}

.App .layout_footer .footerInfo {
  color:#999;
  font-family: "PingFangSC-Regular";
  text-align: center;
}



/**
 * 弹出层样式
 */



 .App-addressModal {
   background: red;
   width:592px !important;
   height:382px !important;
 }




 .App-addressModal .ant-modal-header {
   text-align:center;
 }

 .App-addressModal .ant-input {
   border:1px solid #d9d9d9;
 }

.App-addressModal .ant-input:hover,
.App-addressModal .ant-input:focus {
  border-color:#ff3333;
}

 .App-addressModal .ant-btn {
   border-color: #e5e5e5;
 }

 .App-addressModal .ant-btn:hover,
 .App-addressModal .ant-btn:focus {
  border-color:#ff3333;
  color: #ff3333;
 }

 .App-addressModal .ant-btn-primary {
   background: #ff3333;
   border-color:#ff3333;
 }

 .App-addressModal .ant-btn-primary:hover,
 .App-addressModal .ant-btn-primary:focus {
  background: #ff3333;
  border-color:#ff3333;
  color:white;
 }


 /**
  * 操作反馈
  */
.ant-notification {
  
}

.ant-notification .ant-notification-notice {
    border-left:4px solid #67C23A;
    border-radius: 5px;
}


/**
 * 确认删除
 */
 .ant-confirm {
   
 }

 .ant-confirm .ant-modal-body {
  border-left:4px solid #FF9822;
  border-radius: 5px;
  z-index: 1000;
  -webkit-app-region: no-drag;
 }

 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn {
  
 }

 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn:hover,
 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn:focus {
   border:1px solid #ff3333;
   color:#ff3333;
 }

 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn-primary {
   background:#FF3333;
   border:1px solid #ff3333;
   color:white;
 }

 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn-primary:hover,
 .ant-confirm .ant-modal-body .ant-confirm-btns .ant-btn-primary:focus {
  background:#FF3333;
  border:1px solid #ff3333;
  color:white;
 }

 .ant-card-cover {
   display: flex;
   justify-content: center;
   margin-top:20px;
 }

 .ant-avatar-circle {
   background:#e56045 !important;
 }

 .ant-btn-primary {
  background:#e56045 !important;
  border:1px solid #e56045 !important;
 }

 .removeAllAddress:hover {
  border:1px solid #e56045 !important;
  color:#e56045!important;
 }


 .removeAllAddress:active {
  border:1px solid #e56045 !important;
  color:#e56045!important;
 }

 .removeAllAddress:focus {
  border:1px solid #e56045 !important;
  color:#e56045!important;
 }

 .ant-layout-header {
   position: fixed;
   width:100%;
   z-index: 111;
 }

 .ant-layout-content {
   margin-top:55px;
 }